<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhukovskii.media_core">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".PlayerService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>
